

params {
    asbler = 'megahit' 
    help = false
}

process {
    withName: 'FASTQC|FASTQC2' {
        container = 'docker://staphb/fastqc:0.11.9'
	cpus = 8
	memory = '16 GB'
    }

    withName:trimmomatic{
        container = 'docker://staphb/trimmomatic:0.39'
    }

    withName:bbtools{
        container = 'docker://staphb/bbtools:38.76'
    }

    withName:bwa_aln{
        container = 'docker://staphb/bwa:0.7.17'
    }

    withName:'samtools_index|samtools|unmapped_proc'{
        container = 'staphb/samtools'
    }

    withName:'bwa_INDEX_each|bwa_aln_proc' {
        container = 'docker://staphb/bwa:0.7.17'
	cpus = 14
    }

    withName:'scrub|scrub2' {
                         
        //container = 'ncbi/sra-human-scrubber'
	container = 'ncbi/sra-human-scrubber:latest'
    }
		  
    withName:kraken {
        container = 'docker://staphb/kraken2'
	cpus = 20
        memory = 32.GB
    }

    withName: kraken4gtype {
        container = 'docker://staphb/kraken2'
        cpus = 8
        memory = 32.GB
    }
    
    withName:pilon {
        container = 'staphb/pilon:1.24'
        memory =  32.GB
        cpus =  16   
    }

    withName:'blast_search|blast_prot|blast_nucl' {
        container = 'staphb/blast'
    }

    withName:quast{
        container = 'docker://staphb/quast:5.0.2'
    }

    withName:fast_ani1{
        container = 'docker://staphb/fastani'
        cpus =  12
    }
    

    withName:'clustalo|clustalo_vp1' {
        container = 'docker://staphb/clustalo'
        cpus =  10
    }

    withName:'iqtree|iqtree_vp1' {
        container = 'docker://staphb/iqtree'
        cpus =  12
	memory =  28.GB
    }


    withName:multiqc{
        container = 'docker://staphb/multiqc:1.8'
    }

    withName:readsproc{
        container = 'staphb/lyveset'          
    }

    withName: mega_aln {
        container = 'docker://pegi3s/megax_cc'
    }



    withName:mega_tree{
       container = 'docker://pegi3s/megax_cc'
       memory =  32.GB
    }

}

apptainer {
    enabled = true
}

//apptainer.cacheDir = './'
apptainer.autoMounts = true


// include config for tree annoation

//includeConfig './ev_annot.config'